{% comment %}
  Renders a store locator pin card
  Usage:
  {%- render 'store-locator-pin', block: block, card_layout: 'image-overlay' -%}
{% endcomment %}

{%- liquid
  assign card_layout = card_layout | default: 'default'

  assign store_link = block.settings.store_pin_link
  assign store_latitude_int = block.settings.store_latitude | times: 1
  assign store_longitude_int = block.settings.store_longitude | times: 1
  assign store_direction = ''
  assign store_direction = store_direction | append: 'https://www.google.com/maps/dir/?api=1&destination=latitude,longitude'
  assign store_direction = store_direction | replace: 'latitude', store_latitude_int
  assign store_direction = store_direction | replace: 'longitude', store_longitude_int

  unless store_link != blank
    assign store_link = store_direction
  endunless

  assign store_image = false
  if block.settings.store_image
    assign store_image = block.settings.store_image
  endif
-%}

{%- capture card_content -%}
  <div class="store-locator-card__content color-{{ block.settings.color_scheme }} gradient">
    {%- if block.settings.store_country != blank -%}
      <div class="store-locator-card__content--country">{{- block.settings.store_country -}}</div>
    {%- endif -%}
    {%- if block.settings.store_city != blank or block.settings.pin_title != blank -%}
      <div class="store-locator-card__content--city">{{- block.settings.store_city -}}{% if block.settings.pin_title != blank %} {{ block.settings.pin_title }}{% endif %}</div>
    {%- endif -%}
    {%- if block.settings.store_opening_hours != blank -%}
      <div class="store-locator-card__opening-hour">
        {%- if section.settings.layout == 'map' -%}
          <details class="store-locator__map--custom-marker--hours-collapsible">
            <summary>
              {{ 'sections.store_locator.opening_hours' | t }}
              <div class="store-locator__map--custom-marker--hours-collapsible-wrapper">
              <span class="arrow-icon"></span>
              </div>
            </summary>
            <div class="store-locator__map--custom-marker--hours-content">
              {{- block.settings.store_opening_hours -}}
            </div>
          </details>
        {%- else -%}
          <div class="tooltip-container">
            <span class="tooltip-trigger">{{ 'sections.store_locator.opening_hours' | t }} {% render 'icon', icon_name: 'theme-info' %}
            </span>
          <div class="store-locator__map--custom-marker--hours-content tooltip-content">
            <div class="tooltip-content__border-wrapper small-up-hide">
              <div class="tooltip-content__border small-up-hide">&nbsp;</div>
            </div>
            <span class="tooltip-content__title">{{ 'sections.store_locator.opening_hours' | t }} <button class="tooltip-drawer__close small-up-hide" type="button" aria-label="{{- 'theme.actions.close' | t -}}" data-drawer-close>{%- render 'icon', icon_name: 'theme-close' -%}</button></span>
            {{- block.settings.store_opening_hours -}}
          </div>
      </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if block.settings.store_address != blank -%}
      <div class="store-locator-card__text-content">
        {% render 'icon', icon_name: 'theme-location', class: 'icon' %}
        <span class="store-locator-card__paragraph store-locator-card__address">{{ block.settings.store_address }}</span>
      </div>
    {%- endif -%}
    {%- if block.settings.store_tel != blank -%}
      {%- assign store_tel_link = 'tel:' | append: block.settings.store_tel -%}
      <div class="store-locator-card__text-content">
        {% render 'icon', icon_name: 'theme-phone', class: 'icon' %}
        <a href="{{ store_tel_link }}" class="store-locator-card__paragraph store-locator-card__phone">{{ block.settings.store_tel }}</a>
      </div>
    {%- endif -%}
    {%- if block.settings.store_mail_address != blank -%}
      {%- assign store_mail_address = 'mailto:' | append: block.settings.store_mail_address -%}
      <div class="store-locator-card__text-content">
        {% render 'icon', icon_name: 'mail', class: 'icon store-locator-card__mail-icon' %}
        <a href="{{ store_mail_address }}" class="store-locator-card__paragraph store-locator-card__mail">{{ block.settings.store_mail_address }}</a>
      </div>
    {%- endif -%}
    {%- if block.settings.store_pin != blank or block.settings.store_tel != blank -%}
      <div class="store-locator-card__actions">
        {%- if block.settings.store_pin != blank -%}
          {%- render 'button', value: block.settings.store_pin, type: 'link', href: store_link, target:'_blank', class: 'button button-with-icon--size-small button-with-icon--outlined button-with-icon--tertiary button--uppercase store-locator-button-link store-locator-card__button', button_style: block.settings.button_style -%}
        {%- endif -%}

        {%- if block.settings.store_tel != blank and block.settings.store_tel_button != blank -%}
          {%- render 'button', value: block.settings.store_tel_button, type: 'link', href: store_tel_link, class: 'button button-with-icon--size-small button-with-icon--outlined button-with-icon--tertiary button--uppercase store-locator-button-link store-locator-card__button store-locator-card__button-tel', button_style: block.settings.button_style -%}
        {%- endif -%}
      </div>
    {%- endif -%}

    <span class="store-locator-card__coordinate-title">{{ block.settings.store_city }}</span>
    <span class="store-locator-card__longitude">{{ block.settings.store_longitude }}</span>
    <span class="store-locator-card__latitude">{{ block.settings.store_latitude }}</span>
  </div>
{%- endcapture -%}

{%- if block.type == 'pin' -%}
  <div class="store-locator-card store-locator-card--{{ section.settings.card_layout }} block-{{ block.id }} {% if hide_pins %} hidden{% endif %} {% unless hide_images %}{% if store_image %} store-locator-card__with-image{% if card_layout == 'image-overlay' %}--overlay{% endif %}{% endif %}{% else %} store-locator-card__without-image{% endunless %}{% if section.settings.layout == 'map' %} swiper-slide{% endif %}" data-marker-index="{{ marker_index }}">
    {%- if search -%}
      <div class="store-locator-card__cross">{%- render 'icon', icon_name: 'theme-close' -%}</div>
    {%- endif -%}
    {%- if store_image -%}
      {% style %}
        .store-locator-card--layout-1.block-{{ block.id }} .store-locator-card__content {
          border-top: 0;
        }
      {% endstyle %}
      <div class="store-locator-card__image">
        {%- if store_image -%}
          {%- render 'image', image: block.settings.store_image -%}
        {%- endif -%}
      </div>
      {{- card_content -}}
    {%- else -%}
      {% style %}
        .store-locator-card--layout-2.block-{{ block.id }} .store-locator-card__content {
          flex-basis: 100%;
          border-left-width: 0.1rem;
        }
      {% endstyle %}
      {{- card_content -}}
    {%- endif -%}
  </div>
{%- endif -%}
